.vscode/**
.vscode-test/**
linter/**
node_modules/node-svn/**
!node_modules/node-svn/build/**/*.dll
!node_modules/node-svn/build/**/*.node
!node_modules/node-svn/LICENSE
!node_modules/node-svn/package.json
!node_modules/node-svn/README.md
!node_modules/node-svn/scripts/index.js
out/test/**
out/*.map
src/**
test/**
.gitignore
package-lock.json
tsconfig.json
tslint.json
.npmrc
appveyor.yml
